:root {
    --color-1: #8eb4cd;
    --color-2: #457b9d;
    --color-3: #e63946;
    --color-4: #f1faee;
    --color-5: #7C162E;
    --color-6: #1d3557;
    --color-foreground: white;
    --color-background: #191528;
}

